In [ ]:
# Q8
SELECT f.name AS facility,
	CASE WHEN m.memid = 0 THEN 'Guest'
	ELSE CONCAT_WS(', ', m.surname, m.firstname) END
	AS member,
	CASE WHEN b.memid <> 0 AND (f.membercost * b.slots) > 30.0 THEN (f.membercost * b.slots)
	WHEN b.memid = 0 AND (f.guestcost * b.slots) > 30.0 THEN (f.guestcost * b.slots) END
	AS cost
FROM Members as m
INNER JOIN Bookings AS b
	ON m.memid = b.memid
INNER JOIN Facilities as f
	ON b.facid = f.facid
WHERE b.starttime LIKE '2012-09-14%'
HAVING cost IS NOT NULL
ORDER BY cost DESC

# Q9
SELECT 
CASE WHEN m.memid = 0 THEN 'Guest'
	ELSE CONCAT_WS(', ', m.surname, m.firstname) END
	AS name,
c.facility,
c.cost
FROM Members AS m
INNER JOIN (
	SELECT b.memid,
	CASE WHEN b.facid = f.facid THEN f.name END AS facility,
	CASE WHEN b.memid = 0 THEN (slots * f.guestcost)
		ELSE (slots * f.membercost) END AS cost
	FROM Bookings AS b
	INNER JOIN Facilities AS f
	ON b.facid = f.facid
	WHERE b.starttime LIKE '2012-09-14%'
    ) AS c
ON m.memid = c.memid
WHERE cost > 30.0
ORDER BY cost DESC