In [ ]:
import sqlite3

# connection object to interact w/ database
connection = sqlite3.connect('sqlite_db_pythonsqlite.db')

# cursor object to send SQL statements to database
cur = connection.cursor()

In [ ]:
# name of tables in database

res = connection.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res.fetchall():
    print(name[0])

In [ ]:
# see data in rows from a table
rows = cur.execute("SELECT * FROM Bookings LIMIT 0,30").fetchall()
print(rows)

### fetch all results of a SELECT statement 

```
cursor.execute(<SQL statement>).fetchall()
```

WARNING!
Never use Python string operations to dynamically create a SQL statement string. Using Python string operations to assemble a SQL statement string leaves you vulnerable to SQL injection attacks. SQL injection attacks can be used to steal, alter, or otherwise modify data stored in your database. Always use the ? placeholder in your SQL statements to dynamically substitute values from your Python program. Pass a tuple of values as the second argument to Cursor.execute() to bind your values to the SQL statement. This substitution pattern is demonstrated here:

```
target_variable = "David"
rows = cursor.execute(
    "SELECT name, age, dob FROM table WHERE name = ?",
    (target_variable,),
).fetchall()
print(rows)
```

In [ ]:
# modifying data in a SQLite database
new_dob = 1984-10-09
moved_name = "Kelly"
cursor.execute(
    "UPDATE table SET dob = ? WHERE name = ?",
    (new_dob, moved_name)
)

# remove a row
removed_name = "David"
cursor.execute(
    "DELETE FROM table WHERE name = ?",
    (removed_name,)
)

In [ ]:
# Use **with** statements to automatically close Connection and Cursor objects (like closing python files when finished working with them.

with sqlite3.connect('sqlite_db_pythonsqlite.db') as con:
    cur = con.cursor()
    rows = cur.execute(<sql_query>).fetchall()
    print(rows)

In [ ]:
# or is this way better?

query10 = """SELECT * FROM Bookings LIMIT 0,30"""

# creating a connection called con
# cur is a cursor
with sqlite3.connect('sqlite_db_pythonsqlite.db') as con:
    cur = con.cursor()
    for row in cur.execute(query10):
        print(row)

In [ ]:
query10 = """SELECT facility, SUM(cost) AS revenues
FROM (
	SELECT
		CASE WHEN b.facid = f.facid THEN f.name END AS facility,
		CASE WHEN b.memid = 0 THEN (slots * f.guestcost)
		ELSE (slots * f.membercost) END AS cost
	FROM Bookings AS b
	INNER JOIN Facilities AS f
		ON b.facid = f.facid
) AS r
GROUP BY facility
HAVING revenues < 1000
"""

with sqlite3.connect('sqlite_db_pythonsqlite.db') as con:
    cur = con.cursor()
    for row in cur.execute(query10):
        print(row)

In [ ]:
query11 = """SELECT surname || ', ' || firstname AS member,
	CASE WHEN m.recommendedby THEN s.member 
	WHEN m.recommendedby = '' THEN '' END AS recommender
FROM Members as m
INNER JOIN (
    SELECT memid,
    	surname || ', ' || firstname AS member
    FROM Members
    ) AS s
ON m.recommendedby = s.memid
WHERE m.surname <> 'GUEST'
ORDER BY member
"""

with sqlite3.connect('sqlite_db_pythonsqlite.db') as con:
    cur = con.cursor()
    for row in cur.execute(query11):
        print(row)

In [ ]:
query12 = """SELECT
	CASE WHEN b.facid = f.facid THEN f.name END AS facility,
	CASE WHEN b.memid = m.memid THEN surname || ', ' || firstname END AS member,
	COUNT(b.memid) AS uses
FROM Bookings AS b
LEFT JOIN Facilities AS f
	ON b.facid = f.facid
LEFT JOIN Members AS m
	ON b.memid = m.memid
WHERE b.memid <> 0
GROUP BY b.facid, b.memid
"""

with sqlite3.connect('sqlite_db_pythonsqlite.db') as con:
    cur = con.cursor()
    for row in cur.execute(query12):
        print(row)

In [ ]:
query13 = """SELECT b.facid,
	CASE WHEN b.facid = f.facid THEN f.name END AS facility,
	LTRIM(starttime, 7) AS month,
	COUNT(bookid) AS uses
FROM Bookings AS b
LEFT JOIN Facilities AS f
	ON b.facid = f.facid
GROUP BY b.facid, month
"""

with sqlite3.connect('sqlite_db_pythonsqlite.db') as con:
    cur = con.cursor()
    for row in cur.execute(query13):
        print(row)

In [ ]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()